* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absoulte;
  top: 50px;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 120px;
  margin-top: 250px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  font-size: 20px;
  line-height: 35px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.overlay {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.button:hover span {
  width: 100%;
}

.button:hover {
  border: none;
}
/* END */
/* .wrapper {
  background-color: rgba(177, 96, 96, 0.315);
  width: 1100px;
  margin: 10px auto;
} */
#page-banner {
  position: relative;
  width: 1000px;
  height: 170px;
  margin: 20px auto 0;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  justify-items: center;
  border-radius: 10px;
}
#page-banner h1 {
  font-size: 70px;
  text-align: center;
}
#page-banner p {
  font-size: 20px;
  text-align: center;
}
#page-banner input {
  width: 600px;
  height: 30px;
  border-radius: 10px;
  outline: none;
}
.posts-ul {
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 30px auto 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: visible;
}
.posts-ul::-webkit-scrollbar {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.posts-ul::-webkit-scrollbar-thumb {
  background-color: rgba(50, 168, 82, 0.8);
  outline: 0px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}
.posts-ul a {
  text-decoration: none;
}

.posts-ul li {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #fff;
  margin: 5px 0;
  transition: 0.5s;
}
.posts-ul li span {
  min-height: 70px;
}
.posts-ul li:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.6);
}
.posts-ul li:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.4);
}
.posts-ul li:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.2);
}

.posts-ul li span:nth-child(1) {
  width: 700px;
}
.posts-ul li span:nth-child(2) {
  width: 200px;
  text-align: right;
}

.posts-ul li:hover {
  transform: scale(1.02);
  background-color: rgba(50, 168, 82, 0.8);
}

.inner-container {
  width: 55%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 100px;
  border-radius: 10px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
